openapi: 3.0.1
info:
  title: DIM API
  description: The Destiny Item Manager API. This is meant to be used by many Destiny apps.
  license:
    name: MIT
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: 1.0.0
servers:
  - url: 'https://api.destinyitemmanager.com'
tags:
  - name: auth
    description: Authenticating to the DIM API
paths:
  /auth/token:
    post:
      tags:
        - auth
      summary: Create a DIM auth token from a Bungie.net auth token.
      operationId: createAuthToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthTokenRequest'
        required: true
      responses:
        '200':
          description: Auth token information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          description: >-
            You did not provide all the information required in the request
            body.
          content: {}
        '403':
          description: >-
            Failed to authenticate with Bungie.net, or your app is not in the
            app registry.
      security:
        - token_auth: []

  /platform_info:
    get:
      tags:
        - platform
      summary: Get global information and configuration about the DIM API platform
      operationId: getPlatformInfo
      responses:
        '200':
          description: Global platform information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformInfoResponse'
components:
  schemas:
    AuthTokenRequest:
      description: The payload for the auth token request
      type: object
      properties:
        bungieAccessToken:
          type: string
          description: >-
            The access token from authenticating a user with Bungie.net for your
            app. This must have been created using your app's API key, which is
            registered in the DIM API along with your app name.
        membershipId:
          type: string
          description: The Bungie.net membership ID of the user you are authenticating.
      required:
        - bungieAccessToken
        - membershipId
    AuthTokenResponse:
      description: The response for the auth token request
      type: object
      properties:
        accessToken:
          type: string
          description: Your DIM API access token, to be used in further requests.
        expiresInSeconds:
          type: number
          description: How many seconds from now the token will expire.
          format: int64

    PlatformInfoResponse:
      description: Global platform information
      type: object
      properties:
        settings:
          $ref: '#/components/schemas/GlobalSettings'
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/GlobalAlert'
          description: Global alerts/notifications from the DIM team

    GlobalSettings:
      description: Global platform settings
      type: object
      properties:
        dimApiEnabled:
          type: boolean
          description: Whether the DIM API is enabled. Clients must respect this and not make any calls besides /platform_info when this is false.
        dimProfileMinimumRefreshInterval:
          type: number
          description: The minimum amount of time in seconds allowed between refreshes of the DIM API profile data
        destinyProfileRefreshInterval:
          type: number
          description: How often to auto-refresh the user's Destiny profile, in seconds.
        autoRefresh:
          type: boolean
          description: Whether to auto refresh profile.

    GlobalAlert:
      description: An alert or notification from the DIM team
      type: object
      properties:
        key:
          type: string
          description: A unique identifier for this alert.
        type:
          type: string
          description: The severity of the alert.
        body:
          type: string
          description: The message in the alert.
        timestamp:
          type: number
          format: int64
          description: When this alert was created.

  securitySchemes:
    token_auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
