<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title><%= loadout.name %> | DIM Loadout</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover"
    />
    <link rel="stylesheet" href="/loadout-share.css" />
  </head>
  <body>
    <h1><%= loadout.name %></h1>
  </body>
</html>
