name: PR Build

# While this is intended for PR's we are using a push event as
# packtracker needs to be run on every push.
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    environment: "test"

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: pnpm

      - name: Install
        run: pnpm install --frozen-lockfile --prefer-offline

      - run: cp build/.env.travis .env

      - name: Build API
        run: pnpm build:api

      - name: Lint
        run: pnpm run lint-check

      - name: Test
        run: pnpm test
        env:
          STATELY_STORE_ID: ${{ vars.STATELY_STORE_ID}}
          STATELY_ACCESS_KEY: ${{ secrets.STATELY_ACCESS_KEY }}
